@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.orange {
  color: #ffa500;
  text-shadow: -1px 1px 2px #000, 1px 2px 6px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.brown {
  color: #8b4513;
  text-shadow: -1px 1px 2px #000, 1px 2px 6px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.customFont {
  font-family: "Agbalumo", sans-serif;
}
.headline {
  font-size: 4rem;
}
.center {
  user-select: none;
  text-align: center;
}
.cardClass {
  border: solid 1px black;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 5px 20px 5px;
  height: 150px;
  width: 150px;
}

.cardClass:hover {
  box-shadow: 0 0 10px black;
  image-rendering: crisp-edges;
  transform: scale(101%);
}

.reloadButton {
  background-color: #f5f5f5;
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.reloadButton:hover {
  color: red;
  cursor: pointer;
}

.disclaimerText p {
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.5rem;
  text-align: left;
}
.game {
  padding: 0 100px;
}

.gamebox {
  display: block;
  margin-bottom: 5px;
  width: auto;
  min-height: 530px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  user-select: none;
  cursor: default;
  margin-top: 5px;
}
.winText {
  position: relative;
  color: #37b478;
  text-shadow: 0 0 2px black, 0 0 5px black;
}
.winBox {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  margin-bottom: 55px;
}
